.swiper-buttons__back {
  background-color: transparent;
  border: none;
  width: 22px;
  height: 22px;
}

.swiper-buttons__next {
  background-color: transparent;
  border: none;
  width: 22px;
  height: 22px;
}
