.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 28px;
  column-gap: 12px;
  background-color: transparent;
  border: 1px solid $color-secondary;
  border-radius: 30px;
  height: fit-content;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;

  svg {
    stroke: $color-default-white;
    transition: 0.3s;
  }

  span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: $color-secondary;
    word-break: break-all;

    @include vp-767 {
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: 0.24px;
    }
  }

  span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 46px;
    height: 46px;
    background-color: $color-secondary;
    border-radius: 50%;

    @include vp-767 {
      min-width: 34px;
      height: 34px;
    }
  }

  &:hover,
  &:focus-visible {
    background-color: $color-secondary;
    outline: none;
    transition: 0.3s;

    span {
      color: $color-default-white;
    }

    span:last-child {
      background-color: $color-default-white;
    }

    svg {
      stroke: $color-secondary;
      transition: 0.3s;
      transform: rotate(45deg);
    }
  }

  &:active {
    span {
      color: $color-default-white;
      opacity: 0.7;
    }

    span:last-child {
      background-color: $color-default-white;
      opacity: 1;
    }

    svg {
      transition: 0.3s;
      opacity: 0.7;
    }
  }
}

.btn--disabled {
  border: 1px solid #a9afb7;
  pointer-events: none;

  & span {
    color: #a9afb7;
  }

  & span:last-child {
    background-color: #a9afb7;
  }

  & svg {
    stroke: $color-default-white;
  }
}
