.custom-input {
  position: relative;
  width: fit-content;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    margin-bottom: 13px;
    width: 100%;
  }

  @include vp-767 {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(240, 239, 233, 0.8);
    margin-bottom: 9px;
    transition: 0.3s;
    order: 0;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 12px;
    }
  }

  input,
  textarea {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    height: 50px;
    background-color: transparent;
    transition: border 0.3s ease;
    width: 350px;
    padding: 10px 20px;
    color: $color-default-white;
    order: 1;

    &:hover,
    &:focus-visible {
      border: 1px solid rgba(255, 255, 255, 1);
      color: rgba(240, 239, 233, 1);

      & + label {
        color: rgba(240, 239, 233, 1);
      }
    }

    &:disabled {
      border: 1px solid rgba(255, 255, 255, 0.4);
      background: rgba(255, 255, 255, 0.2);

      & + label {
        color: rgba(240, 239, 233, 0.6);
      }
    }

    @include vp-1199 {
      width: 100%;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: $color-error;

    opacity: 0;

    transition: opacity 0.3s ease;
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-error;
      background: rgba(255, 94, 102, 0.2);
    }
  }
}

.consultation__message textarea {
  height: 98px;

  @include vp-767 {
    height: 92px;
  }
}
