.hero__content-container {
  display: none;
}

.swiper-slide-active .hero__content-container {
  display: block;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 800px;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 100px 59px 100px;

  @include vp-1199 {
    padding: 0 64px 59px 45px;
    min-height: 1024px;
  }

  @include vp-767 {
    padding: 0 15px 20px 15px;
    min-height: 568px;
  }
}

.hero__first-slide {
  background-image:
    linear-gradient(to top, rgba(49, 109, 194, 0.2)),
    image-set(url("../img/hero/first-photo/first-photo-desktop.webp") 1dppx,
      url("../img/hero/first-photo/first-photo-desktop@2x.webp") 2dppx,
      url("../img/hero/first-photo/first-photo-desktop.png") 1dppx,
      url("../img/hero/first-photo/first-photo-desktop@2x.png") 2dppx,
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #668bb2;

  @include vp-1199 {
    background-image:
      linear-gradient(to top, rgba(49, 109, 194, 0.2)),
      image-set(url("../img/hero/first-photo/first-photo-tablet.webp") 1dppx,
      url("../img/hero/first-photo/first-photo-tablet@2x.webp") 2dppx,
      url("../img/hero/first-photo/first-photo-tablet.png") 1dppx,
      url("../img/hero/first-photo/first-photo-tablet@2x.png") 2dppx,
    );
  }

  @include vp-767 {
    background-image:
      linear-gradient(to top, rgba(49, 109, 194, 0.2)),
      image-set(url("../img/hero/first-photo/first-photo-mobile.webp") 1dppx,
      url("../img/hero/first-photo/first-photo-mobile@2x.webp") 2dppx,
      url("../img/hero/first-photo/first-photo-mobile.png") 1dppx,
      url("../img/hero/first-photo/first-photo-mobile@2x.png") 2dppx,
      );
  }
}

.hero__second-slide {
  background-image:
    linear-gradient(to top, rgba(49, 109, 194, 0.2)),
    image-set(url("../img/hero/second-photo/second-photo-desktop.webp") 1dppx,
    url("../img/hero/second-photo/second-photo-desktop@2x.webp") 2dppx,
    url("../img/hero/second-photo/second-photo-desktop.png") 1dppx,
    url("../img/hero/second-photo/second-photo-desktop@2x.png") 2dppx,
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #4d7da4;

  @include vp-1199 {
    background-image:
      linear-gradient(to top, rgba(49, 109, 194, 0.2)),
      image-set(url("../img/hero/second-photo/second-photo-tablet.webp") 1dppx,
      url("../img/hero/second-photo/second-photo-tablet@2x.webp") 2dppx,
      url("../img/hero/second-photo/second-photo-tablet.png") 1dppx,
      url("../img/hero/second-photo/second-photo-tablet@2x.png") 2dppx,
      );
  }

  @include vp-767 {
    background-image:
      linear-gradient(to top, rgba(49, 109, 194, 0.2)),
      image-set(url("../img/hero/second-photo/second-photo-mobile.webp") 1dppx,
      url("../img/hero/second-photo/second-photo-mobile@2x.webp") 2dppx,
      url("../img/hero/second-photo/second-photo-mobile.png") 1dppx,
      url("../img/hero/second-photo/second-photo-mobile@2x.png") 2dppx,
      );
  }
}

.hero__third-slide {
  background-image:
    linear-gradient(to top, rgba(49, 109, 194, 0.2)),
    image-set(url("../img/hero/third-photo/third-photo-desktop.webp") 1dppx,
    url("../img/hero/third-photo/third-photo-desktop@2x.webp") 2dppx,
    url("../img/hero/third-photo/third-photo-desktop.png") 1dppx,
    url("../img/hero/third-photo/third-photo-desktop@2x.png") 2dppx,
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #9eb0bc;

  @include vp-1199 {
    background-image:
      linear-gradient(to top, rgba(49, 109, 194, 0.2)),
      image-set(url("../img/hero/third-photo/third-photo-tablet.webp") 1dppx,
      url("../img/hero/third-photo/third-photo-tablet@2x.webp") 2dppx,
      url("../img/hero/third-photo/third-photo-tablet.png") 1dppx,
      url("../img/hero/third-photo/third-photo-tablet@2x.png") 2dppx,
      );
  }

  @include vp-767 {
    background-image:
      linear-gradient(to top, rgba(49, 109, 194, 0.2)),
      image-set(url("../img/hero/third-photo/third-photo-mobile.webp") 1dppx,
      url("../img/hero/third-photo/third-photo-mobile@2x.webp") 2dppx,
      url("../img/hero/third-photo/third-photo-mobile.png") 1dppx,
      url("../img/hero/third-photo/third-photo-mobile@2x.png") 2dppx,
      );
  }
}

.hero__pagination-container {
  position: relative;
  width: fit-content;
  padding: 10px 20px 12px 20px;
  margin-bottom: -1px;
  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;

  @include vp-767 {
    border-radius: 12px 12px 0 0;
    padding: 0 16px 9px 16px;
  }
}

.hero__title {
  max-width: 968px;
}

.hero__title p {
  font-size: 54px;
  font-weight: 400;
  line-height: 62px;
  color: $color-secondary;
  margin: 0;
  padding: 40px 35px 30px 50px;
  background-color: $color-default-white;
  border-radius: 0 30px 30px 0;

  @include vp-1199 {
    font-size: 36px;
    line-height: 44px;
    padding: 30px 23px 24px 40px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 26px;
    padding: 21px 14px 14px 14px;
    border-radius: 0 16px 16px 0;
  }
}

.hero__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 21px;
  padding: 0 50px 23px 50px;
  margin-top: -1px;
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;
  max-width: 772px;

  @include vp-1199 {
    padding: 0 40px 30px 40px;
    margin-right: 68px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: -1px;
    background-color: transparent;
  }
}

.hero__description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    padding: 0 14px 8px;
    background-color: $color-default-white;
    margin-right: 29px;
    border-radius: 0 0 14px 0;
  }
}

.hero__link-container {
  align-self: flex-start;

  @include vp-767 {
    position: relative;
    padding: 10px 15px;
    background-color: $color-default-white;
    border-radius: 0 0 14px 14px;
    margin-right: 108px;
    margin-top: -1px;
  }
}

.hero__link {
  width: 196px;

  @include vp-767 {
    background-color: $color-default-white;
    padding: 4px 4px 4px 20px;
    column-gap: 20px;
    width: auto;
  }
}

.hero__auxiliary-icon {
  fill: $color-default-white;
  position: absolute;
  bottom: 0;
  right: -19px;

  @include vp-767 {
    width: 10px;
    height: 10px;
    right: -10px;
  }
}

.hero__description .hero__auxiliary-icon {
  top: 0;
  right: -26px;
  transform: rotate(90deg);

  @include vp-767 {
    right: 19px;
  }
}

.hero__link-container .hero__auxiliary-icon {
  display: none;

  @include vp-767 {
    display: block;
    top: 0;
    right: -10px;
    transform: rotate(90deg);
  }
}
