.main-header__container {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 100px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    top: 20px;
    padding: 0 15px;
  }
}

.main-header__nav-container {
  position: relative;
  justify-self: flex-end;
  margin-left: auto;
  z-index: 200;
}

.main-header__logo-container {
  display: block;
  z-index: 100;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;

  &:focus-visible {
    outline: 2px solid $color-secondary;
  }
}

.main-header__logo {
  min-width: 52px;
}

.main-header__logo-container--disabled {
  display: none;
}

.main-header__nav-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 4px 4px 4px 20px;
  margin-left: auto;
  background-color: $color-default-white;
  border: 1px solid $color-secondary;
  border-radius: 30px;
  cursor: pointer;
  animation: animation-nav-button-back 0.4s forwards;

  &:focus-visible {
    outline-color: $color-secondary;
  }

  @include vp-767 {
    padding: 4px 4px 2px 20px;
    animation: animation-nav-button-back-mobile 0.4s forwards;
  }
}

@keyframes animation-nav-button-back {
  from {
    width: 286px;
  }

  to {
    width: 136.2px;
  }
}

@keyframes animation-nav-button-back-mobile {
  from {
    width: 290px;
  }

  to {
    width: 136.2px;
  }
}

.main-header__nav-list-container {
  display: none;
  width: 286px;
  margin-top: 4px;
  overflow-y: auto;
  max-height: 100vh;
  height: 0;
  border-radius: 16px;
  padding-bottom: 50px;

  @include vp-767 {
    width: 290px;
  }
}

.main-header__nav-list-container--active {
  display: block;
  animation: animation-open-nav-container 0.4s forwards;
}

@keyframes animation-open-nav-container {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

.main-header__nav-list {
  padding: 33px 25px 10px 25px;
  background-color: $color-secondary;
  border-radius: 16px;

  @include vp-767 {
    padding-bottom: 11px;
  }
}

.main-header__nav-sublist {
  margin-top: 14px;
  display: none;
}

.main-header__nav-button span {
  word-break: break-all;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-secondary;
}

.main-header__nav-item a {
  display: block;
  word-break: break-all;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: $color-default-white;
  opacity: 0.7;
  transition: 0.3s;
  width: 100%;

  &:hover,
  &:focus-visible {
    opacity: 1;
    transition: 0.3s;
    outline: none;
  }
}

.main-header__nav-item:hover {
  outline: none;

  .main-header__nav-sublist {
    display: block;
  }

  .main-header__nav-item-icon {
    transform: rotate(180deg);
    transition: 0.3s;
    opacity: 1;
  }
}

.main-header__nav-item-icon {
  transition: 0.3s;
}

.main-header__nav-item {
  margin-bottom: 24px;
}

.main-header__nav-subitem a {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $color-default-white;
  text-transform: none;
  opacity: 0.6;
}

.main-header__nav-subitem {
  margin-left: 16px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.main-header__nav-item-inner:last-child {
  margin-bottom: 0;
}

.main-header__nav-submenu span {
  display: inline;
  word-break: break-all;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: $color-default-white;
}

.main-header__button-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 46px;
  height: 46px;
  background-color: $color-secondary;
  border: none;
  border-radius: 50%;
  transition: 0.4s;
}

.main-header__nav--active {
  background-color: $color-secondary;
  animation: animation-nav-button 0.4s forwards;

  @include vp-767 {
    animation: animation-nav-button-mobile 0.4s forwards;
  }
}

@keyframes animation-nav-button {
  from {
    width: 136.2px;
  }

  to {
    width: 286px;
  }
}

@keyframes animation-nav-button-mobile {
  from {
    width: 136.2px;
  }

  to {
    width: 290px;
  }
}

.main-header__nav--active span {
  color: $color-default-white;
}

.main-header__button-icons-container--active {
  background-color: $color-default-white;
  transition: 0.4s;
}

.main-header__button-open-menu-icon--active {
  display: none;
}

.main-header__button-close-menu-icon {
  fill: $color-secondary;
  display: none;
}

.main-header__button-close-menu-icon--active {
  display: block;
}

.main-header__nav-item--active {
  .main-header__nav-submenu {
    opacity: 1;
    color: $color-default-white;
  }

  .main-header__nav-sublist {
    display: block;
  }

  .main-header__nav-item-icon {
    transform: rotate(180deg);
    transition: 0.3s;
    opacity: 1;
  }
}

.main-header__nav-subitem--active {
  a {
    opacity: 1;
    color: $color-default-white;
  }
}
