.nav--active {
  overflow: hidden;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(13, 29, 51, 0.4);
    z-index: 150;
  }
}
