.accordion {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & & {
    width: 100%;
    margin: 0 auto;
  }

  &__element:last-child {
    margin-bottom: 124px;

    @include vp-1199 {
      margin-bottom: 100px;
    }

    @include vp-767 {
      margin-bottom: 70px;
    }
  }

  &__element {
    margin: 0;
    padding: 39px 40px 38px 40px;
    border: 1px solid $color-secondary;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;

    @include vp-1199 {
      padding: 29px 29px 28px;
    }

    @include vp-767 {
      padding: 21px 15px 18px 15px;
    }
  }

  &__element.is-active {
    background-color: $color-secondary;
    padding-bottom: 30px;

    @include vp-1199 {
      padding-bottom: 27px;
    }

    @include vp-767 {
      padding-bottom: 15px;
    }
  }

  &__element.is-active .accordion__wrapper p {
    color: $color-secondary-beige;
  }

  &__element.is-active .accordion__button-container span {
    color: $color-secondary-beige;
  }

  &__element.is-active &__button {
    background-color: $color-default-white;
    border: 1px solid transparent;
  }

  &__element.is-active &__button::after {
    content: "";
    width: 18px;
    height: 1px;
    background-color: $color-secondary;
  }

  &__button {
    background-color: $color-secondary;
    border: 1px solid transparent;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;

    &:disabled {
      opacity: 0.3;
    }

    @include vp-767 {
      width: 40px;
      height: 40px;
      min-width: 40px;
    }
  }

  &__wrapper {
    padding: 0;
  }
}

.accordion__element.is-active .accordion__close-button-icon {
  display: none;
}

.accordion__close-button-icon {
  stroke: $color-default-white;
}

.accordion__button-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;

  &:focus-visible {
    outline: none;
  }
}

.accordion__button-container span:first-child {
  width: fit-content;
  text-align: left;
  color: $color-secondary;
  font-family: $ff-manrope;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  margin-right: 32%;
  pointer-events: none;

  @include vp-1199 {
    font-size: 22px;
    line-height: 22px;
    margin-right: 14%;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    margin-right: 10%;
  }
}

.accordion__wrapper p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding-top: 14px;

  @include vp-1199 {
    line-height: 20px;
    padding-top: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    padding-top: 12px;
  }
}

.accordion__content {
  padding-right: 30%;

  @include vp-1199 {
    padding-right: 14%;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.accordion__element--hover {
  background-color: $color-default-white;

  .accordion__button {
    transition: 0.3s;
    background-color: $color-default-white;
    border: 1px solid $color-secondary;
  }

  .accordion__close-button-icon {
    transition: 0.3s;
    stroke: $color-secondary;
  }
}

.accordion__element--hover-opened {
  &.is-active {
    transition: 0.3s;

    .accordion__button {
      transition: 0.3s;
      background-color: $color-secondary;
      border: 1px solid $color-default-white;

      &::after {
        background-color: $color-default-white;
      }
    }
  }
}


.accordion__element--active {
  span:first-child {
    transition: 0.3s;
    color: $color-active;
  }

  .accordion__button {
    transition: 0.3s;
    background-color: $color-active;
  }

  .accordion__close-button-icon {
    transition: 0.3s;
    stroke: $color-default-white;
  }
}

.accordion__element--active-opened {
  &.is-active {
    background-color: $color-active;

    .accordion__button {
      transition: 0.3s;
      background-color: $color-default-white;

      &::after {
        background-color: $color-active;
      }
    }
  }
}
